<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->  
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="true"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="base_local_planner/base_local_planner" />
    <rosparam file="$(find cuscobot)/param/common_costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cuscobot)/param/common_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cuscobot)/param/local_costmap.yaml" command="load" />
    <rosparam file="$(find cuscobot)/param/global_costmap.yaml" command="load" />
    <rosparam file="$(find cuscobot)/param/move_base.yaml" command="load" />
    <rosparam file="$(find cuscobot)/param/base_local_planner.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
</launch>